body{
		font-family: Lato;
		margin:0;
}

* {
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  	box-sizing: border-box;

}

p, h1, h3{
		margin: 0;
}

ul{

		list-style: none;
		margin: 0;
}

.nav{

		background-color: #000000;
		width: 100%;
		height: 150px;
}

.container{

		margin: 0px;
		max-width: 1100px;
		height: 100%;
		padding-left: 100px;
}

.menu{
		font-family: Open Sans;
		color: #939dad;
		list-style: none;
		display: inline-block;
		width: 500px;
		float:center;
}

.menu > li{
		font-size: 30px;
		padding-top: 50px;
		padding-left: 30px;
		display: inline-block;
}

.logo{
		height: 100px;
		width: 40px;
		float:left;
		padding-left: 0px;
		padding-top: 20px;
}

.title-wrapper{

		padding-top: 250px;
		text-align: center;
}

header{

		background-image: url("../imgs/img-6.jpg");
		height: 700px;
		width: 100%;
		background-position: center center;
}

.header-title{

		color: white;
		font-size: 55px;
		font-family: Open Sans;
		text-transform: uppercase;
		background-color: #000;
		padding-left: 10px;
		padding-right: 10px;
		width: 850px;
		text-align: center;
		margin: auto;
}

.header-subtitle{

		color: white;
		font-size: 30px;
		font-family: Open Sans;
		text-transform: uppercase;
		background-color: #c40000;
		padding-left: 10px;
		padding-right: 10px;
		width: 260px;
		text-align: center;
		margin: 60px auto 0 auto;
}

.call-to-action{
		background-color: #052b4c;
		width: 100%;
		height: 245px;
}

.intro{
		width: 50%;
		float: left;
		padding-top: 60px;
}

.intro h3{

		font-family: Open Sans;
		font-size: 50px;
		text-transform: uppercase;
		color: white;
}

.intro p{

		font-family: Lato;
		font-size: 20px;
		color: white;
		margin-top: 15px;
}

.right{
		text-align: center;
		padding-top: 83px;
}

.intro-button{

		font-family: Open Sans Condensed;
		text-transform: uppercase;
		font-size: 35px;
		color: white;
		text-decoration: none;
		border: 3px solid #fff;
		padding: 10px 30px;
		border-radius: 15px;
}

.column{

		width:50%;
		float: left;
}

.photo{

		margin: auto;
}

.title-normal{

		font-family: Open Sans;
		font-size: 50px;
		text-transform: uppercase;
		color: #000;
		padding-top: 50px;
		padding-bottom: 50px;

}
