body{
		font-family: Lato;
}

.nav{

		background-color: #000000
}

.menu{
		font-family: Open Sans;
		color: #939dad;
}

.menu > li{
		font-size: 30px;

}

header{

	background-image: url("../imgs/img-6.jpg");
	height: 700px;
	width: 100%;
	background-position: center center;

}
